<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>

	<!-- 数据库连接配置 -->
	<!-- <property name="connection.driver_class">com.jdbc.mysql.Driver</property>
	<property name="connection.url">jdbc:mysql://localhost:3306/greenvillage</property>
	<property name="connection.username">root</property>
	<property name="connection.password">java</property> -->
	
	
	
	<!-- 方言配置 -->
	<property name="dialect">
		org.hibernate.dialect.MySQL5InnoDBDialect
	</property>


	<!-- 打印SQL语句 -->
	<property name="show_sql">true</property>

	<!-- 自动创建表 -->
	<property name="hbm2ddl.auto">update</property>

	<property name="javax.persistence.validation.mode">none</property>

	<!-- javaBean映射配置 -->
	<mapping resource="com/greenvillage/pojo/User.hbm.xml"/>
	<mapping resource="com/greenvillage/pojo/NoodleGoods.hbm.xml"/>
	
	
</session-factory>

</hibernate-configuration>